In [21]:
'''Python capitalize() function example'''
str = "abcdefghi"
str2 = str.capitalize()
print("Old value:", str)
print("New value:", str2)

Old value: abcdefghi
New value: Abcdefghi

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [23]:
# Python count() function example
str = "Hello python"
str2 = str.count('y')
print( str2)

1

In [24]:
'''Python endswith() function example'''
a = "I'm good"
b = a.endswith("od")
print(b)

True

In [25]:
# Python find() function example
str = "Wellcome to the python"
str2 = str.find("to")
print(str2)

# Python index() function example
a = "Wellcome to the python"
b = a.index("to")
print(b)

9
9

In [26]:
# Python format() function example
str = "Java"
str2 = "C#"
str3 = "{} and {} both are programming languages".format(str,str2)
print(str3)

Java and C# both are programming languages

In [27]:
# Python isalnum() function example
a = "123"
b= a.isalnum()
print(b)

True

In [28]:
my_list=[1,2,3]

In [29]:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)
thislist2 = list(["apple", "banana", "cherry"]) # note the double round-brackets
print(thislist2)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[::-1][0:2])

['mango', 'melon']

In [31]:
thislist = ["1", "2", "3"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [32]:
count=0
for var in thislist:
    if(var.isdigit()):
        count+=1
print(count)

3

In [33]:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [34]:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "watermelon")
print(thislist)

['apple', 'watermelon', 'banana', 'cherry']

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.extend(["orange","orange"])
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'orange']

In [38]:
thislist = ["apple" "banana", "cherry"]
thislist.pop()
print(thislist)

['applebanana']

In [39]:

thistuple = ("apple", "banana", "cherry")
print((thistuple[-1]))

cherry

In [40]:
mylist=list(thistuple)

In [41]:
print(type(mylist))

<class 'list'>

In [42]:
mylist[1]='kiwi'
thistuple=tuple(mylist)
print(thistuple)

('apple', 'kiwi', 'cherry')

In [43]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [44]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [45]:
a,b=5,6

In [46]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(*green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry']
strawberry
raspberry

In [47]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [48]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [49]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [50]:
fruits = [1,2,3,4,5,6,7,8,9,0]

newlist = [x for x in fruits if x%2==0]
print(newlist)

[2, 4, 6, 8, 0]

In [51]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [52]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [53]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [54]:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [55]:
fruits = [ "banana","apple", "cherry", "kiwi", "mango"]

fruits.sort(reverse=True)
print(fruits)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [56]:
a = ("banana","apple", "cherry", "kiwi", "mango")
b = list(a)
pk = ('black','blue')
b.insert(3,pk)
a = tuple(b)
print(a)

('banana', 'apple', 'cherry', ('black', 'blue'), 'kiwi', 'mango')

In [57]:
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
    print(thistuple[x])

apple
banana
cherry

In [58]:
thisset = {"apple","banana","cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [ ]:
thisset = {"apple","banana","cherry"}
x = thisset.copy()
print(x)

{'banana', 'cherry', 'apple'}

In [ ]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set1.update(set2)
print(set1)

{1, 2, 'b', 3, 'a', 'c'}

In [ ]:
set1 = {"a","b","c"}
set2 = {1,2,3}
print(set1|set2)
print(set1.union(set2))

{1, 2, 'b', 3, 'a', 'c'}
{1, 2, 'b', 3, 'a', 'c'}

In [ ]:
set1 = {"a","b","c",3}
set2 = {1,2,3}
print(set1&set2)
print(set1.intersection(set2))

{3}
{3}

In [ ]:
set1 = {"a","b","c",3}
set2 = {1,2,3}
print(set1-set2)
print(set1.difference(set2))

{'a', 'b', 'c'}
{'a', 'b', 'c'}

In [ ]:
set1 = {"a","b","c",3}
set2 = {1,2,3}
c = set1^set2
a = set1.symmetric_difference(set2)
print(c)
print(a)

{1, 2, 'b', 'a', 'c'}
{1, 2, 'b', 'a', 'c'}

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday", "Tuesday"}
Days3 = {"Monday", "Tuesday", "Friday"}

print (Days1>Days2)

print (Days3>Days2)

print (Days1<Days2)

print (Days2 == Days3)

True
True
False
False

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday", "Tuesday"}
a = Days2.issubset(Days1)
print(a)

True

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday", "Tuesday"}
a = Days1.issuperset(Days2)
print(a)

True

In [ ]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964"
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': '1964'}

In [ ]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964"
}
print(thisdict["brand"])

ford

In [ ]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964"
}
print(len(thisdict))

3

In [ ]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964",
    "colors": ["red","white","blue"]
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': '1964', 'colors': ['red', 'white', 'blue']}

In [ ]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964",
    "colors": ["red","white","blue"]
}
print(type(thisdict))

<class 'dict'>

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
print(len(Days1))

4

In [ ]:
a = set(("Monday",  "Tuesday", "Wednesday", "Thursday"))
print(a)

{'Tuesday', 'Thursday', 'Wednesday', 'Monday'}

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
for x in Days1:
    print(x)

Tuesday
Thursday
Wednesday
Monday

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days1.add("Sunday")
print(Days1)

{'Tuesday', 'Thursday', 'Sunday', 'Wednesday', 'Monday'}

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Sunday","Friday"}
Days1.update(Days2)
print(Days1)

{'Sunday', 'Friday', 'Tuesday', 'Thursday', 'Wednesday', 'Monday'}

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = ["Sunday","Friday"]
Days1.update(Days2)
print(Days1)

{'Tuesday', 'Thursday', 'Sunday', 'Wednesday', 'Friday', 'Monday'}

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days1.remove("Monday")
print(Days1)

{'Tuesday', 'Thursday', 'Wednesday'}

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days1.discard("Monday")
print(Days1)

{'Tuesday', 'Thursday', 'Wednesday'}

In [ ]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
x = Days1.pop()
print(x)
print(Days1)

Tuesday
{'Thursday', 'Wednesday', 'Monday'}

In [59]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days1.clear()
print(Days1)

set()

In [60]:
set1 = {1,2,3,4,5,6,7}
set2 = {1,2,20,32,5,9}
set3 = set1.intersection(set2)
print(set3)

# 4041

{1, 2, 5}

In [2]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964",
}
print(len(thisdict))

3

In [7]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964",
    "colors": ["red","white","blue"]
}
x = thisdict['model']
n = thisdict.get('model')
print(x)
print(n)

mustang
mustang

In [9]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964",
}
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [10]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year": "1964",
}
x = thisdict.keys()
print(x)
thisdict['color'] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])